{% extends 'base_top.html' %}
{% block content %}
		<div class="main_con clearfix">
			<div class="left_menu_con clearfix fl">
				<ul>
					<a href="/user/info/"><li>个人信息</li></a>
					<a href="/user/order1/"><li>全部订单</li></a>
					<a href="/user/site/"><li>收货地址</li></a>
					<a href="/star/1/"><li>我的收藏</li></a>
					<a href="/user/history1/"><li class="active">浏览记录</li></a>
					<a href="user_center_site.html"><li>联系我们</li></a>
				</ul>
			</div>
			<div class="right_content clearfix">
				<div class="info_con clearfix">
					<h3 class="common_title">浏览记录</h3>
					<ul class="history_list_th clearfix">
						<li>{{ datetime }}</li>
					</ul>
					<ul class="history_goods_list">
						{% for g in page %}
						<li>
							<a href="/{{ g.id }}/"><img src="/static/{{ g.gpic }}"></a>
							<h4><a href="/{{ g.id }}/" title="{{ g.gtitle }}">{{ g.gtitle }}</a></h4>
							<p class="author">
								<span>{{ g.gauthor }}</span>
							</p>
							<p class="price">
								<span class="price_l"><em>￥{{ g.gsellprice }}</em></span>
								<span class="price_r"><del>￥{{ g.gprice}}</del></span>
							</p>
						</li>
						{% endfor %}
					</ul>
					<div class="pagenation">
						{% if page.has_previous %}
						<a href="/user/history{{ page.previous_page_number }}/"><上一页</a>
						{% endif %}
						{% for pindex in paginator.page_range %}
						{% if pindex == page.number %}
						<a href="#" class="active">{{ pindex }}</a>
						{% else %}
						<a href="/user/history{{ pindex }}/">{{ pindex }}</a>
						{% endif %}
						{% endfor %}
						{% if page.has_next %}
						<a href="/user/history{{ page.next_page_number }}/">下一页></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
{% endblock content %}
