{% extends 'base_top.html' %}
{% block content %}
		<div class="main_con clearfix">
			<div class="left_menu_con clearfix fl">
				<ul>
					<a href="/user/info/"><li class="active">个人信息</li></a>
					<a href="/user/order1/"><li>全部订单</li></a>
					<a href="/user/site/"><li>收货地址</li></a>
					<a href="/star/1/"><li>我的收藏</li></a>
					<a href="/user/history1/"><li>浏览记录</li></a>
					<a href="user_center_site.html"><li>联系我们</li></a>
				</ul>
			</div>
			<div class="right_content clearfix">
				<div class="info_con clearfix">
					<h3 class="common_title">基本信息</h3>
					<ul class="user_info_list">
						<li><span>用户名：</span>{{ user_name }}</li>
						<li><span>联系电话：</span>{{ user_phone }}</li>
						<li><span>联系邮箱：</span>{{ user_email }}</li>
						<li><span>联系地址：</span>{{ user_address }}</li>
					</ul>
				</div>
			</div>
		</div>
{% endblock content %}