{% extends 'base_top.html' %}
{% block content %}
		<div class="main_con clearfix">
			<div class="left_menu_con clearfix fl">
				<ul>
					<a href="/user/info/"><li>个人信息</li></a>
					<a href="/user/order/"><li>全部订单</li></a>
					<a href="/user/site/"><li>收货地址</li></a>
					<a href="user_center_site.html"><li>我的收藏</li></a>
					<a href="/user/history/"><li class="active">浏览记录</li></a>
					<a href="user_center_site.html"><li>联系我们</li></a>
				</ul>
			</div>
			<div class="right_content clearfix">
				<div class="info_con clearfix">
					<h3 class="common_title">浏览记录</h3>
					<ul class="history_list_th clearfix">
						<li>{{ datetime }}</li>
					</ul>
					<ul class="history_goods_list">
						{% for goods in goods_list %}
						<li>
							<a href="/{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
							<h4><a href="/{{ goods.id }}/" title="{{ goods.gtitle }}">{{ goods.gtitle }}</a></h4>
							<p class="author">
								<span>{{ goods.gauthor }}</span>
							</p>
							<p class="price">
								<span class="price_l"><em>￥{{ goods.gsellprice }}</em></span>
								<span class="price_r"><del>￥{{ goods.gprice}}</del></span>
							</p>
						</li>
						{% endfor %}
					</ul>
					<ul class="history_list_th clearfix">
						<li>2021-8-18</li>
					</ul>
					<ul class="history_goods_list">
						<li>
							<a href="detail.html"><img src="images/goods_detail1.png"></a>
							<h4><a href="detail.html" title="天龙八部">天龙八部</a></h4>
							<p class="author">
								<span>余华</span>
							</p>
							<p class="price">
								<span class="price_l"><em>￥140.40</em></span>
								<span class="price_r"><del>￥28.00</del></span>
							</p>
						</li>
					</ul>
					<div class="pagenation">
						<a href="#"><上一页</a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">下一页></a>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}
