{% extends 'base_foot.html' %}
{% block content2 %}
        <div class="navbar_con">
			<div class="navbar clearfix">
				<div class="subnav_con fl">
					<h1>全部商品分类</h1>
					<span></span>
					<ul class="subnav">
						<li><a href="/list1_1_1/" class="child">童书</a></li>
						<li><a href="/list2_1_1/" class="novel">小说</a></li>
						<li><a href="/list3_1_1/" class="social">人文社科</a></li>
						<li><a href="/list4_1_1/" class="encourage">励志</a></li>
						<li><a href="/list5_1_1/" class="science">科技</a></li>
						<li><a href="/list6_1_1/" class="original">英文原版</a></li>
					</ul>
				</div>
				<ul class="navlist fl">
					<li><a href="/classify1_1/"
					{% if classify == '1' %} class="active"
					{% endif %}
					>畅销书榜</a></li>
					<li class="interval">|</li>
					<li><a href="/classify1_2/"
					{% if classify == '2' %} class="active"
					{% endif %}
					>经典书榜</a></li>
					<li class="interval">|</li>
					<li><a href="/classify1_3/"
					{% if classify == '3' %} class="active"
					{% endif %}
					>特价书榜</a></li>
				</ul>
			</div>
		</div>
		<div class="breadcrumb">
			<a href="#">全部分类</a>
			<span>></span>
			<a href="/user/index_list1_1/">全部分类</a>
		</div>
		<div class="main_wrap clearfix">
			<div class="l_wrap fl clearfix">
				<div class="new_goods">
					<a href="#"><h3>新品推荐</h3></a>
					<ul>
						{% for new in news %}
						<li>
							<a href="/{{ new.id }}/"><img src="/static/{{ new.gpic }}"></a>
							<h4><a href="/{{ new.id }}/">{{ new.gtitle }}</a></h4>
							<div class="price">￥{{ new.gsellprice }}
								<span class="fixed_price"><del>￥{{ new.gprice }}</del></span>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="r_wrap fr clearfix">
				<div class="sort_bar">
					<a href="/list1_1/"
					{% if sort == "1" %}
					 class="active"
					{% endif %}
					>默认</a>
					<a href="/list1_2/"
					{% if sort == "2" %}
					 class="active"
					{% endif %}
					>价格</a>
					<a href="/list1_3/"
					{% if sort == "3" %}
					 class="active"
					{% endif %}
					>人气</a>
				</div>
				<ul class="goods_type_list clearfix">
					{% for g in page %}
					<li>
						<a href="/{{ g.id }}/"><img src="/static/{{ g.gpic }}"></a>
						<h4><a href="/{{ g.id }}/">{{ g.gtitle }}</a></h4>
						<p class="author">
							<span>{{ g.gauthor }}</span>
						</p>
						<p class="price">
							<span class="price_l">￥{{ g.gsellprice }}</span>
							<span class="price_r"><del>￥{{ g.gprice }}</del></span>
						</p>
					</li>
					{% endfor %}
                </ul>
				<div class="pagenation">
					{% if page.has_previous %}
					<a href="/user/index_list{{ page.previous_page_number }}_{{ sort }}/"><上一页</a>
					{% endif %}
					{% for pindex in paginator.page_range %}
					{% if pindex == page.number %}
					<a href="#" class="active">{{ pindex }}</a>
					{% else %}
					<a href="/user/index_list{{ pindex }}_{{ sort }}/">{{ pindex }}</a>
					{% endif %}
					{% endfor %}
					{% if page.has_next %}
					<a href="/user/index_list{{ page.next_page_number }}_{{ sort }}/">下一页></a>
					{% endif %}
				</div>
			</div>
		</div>
{% endblock content2 %}