{% extends 'base.html' %}
{% block body %}
    <div class="all_con y">
		<div class="search_bar clearfix">
			<a href="/user/index/"class="logo fl">云中书城</a>
{% if page_name == 1 %}
			<a href="/user/index_list/" class="back fl active">首 页</a>
			<a href="/user/info/" class="user_link fl">用户中心</a>
{% elif page_name == 2 %}
			<a href="/user/index_list/" class="back fl">首 页</a>
			<a href="/user/info/" class="user_link fl active">用户中心</a>
{% else %}
			<a href="/user/index_list/" class="back fl">首 页</a>
			<a href="/user/info/" class="user_link fl">用户中心</a>
{% endif %}
			<div class="search_con fl">
				<input type="text" class="input_text fl" name="" placeholder="请输入书名">
				<input type="button" class="input_btn fr" name="" value="搜 索">
			</div>
			<div class="guest_info fr">
				<div class="login_info fl">
					<em>阿 麟</em>
				</div>
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				<div class="goods_cart fr">
					<a href="cart.html" title="购物车"><img src="/static/images/shop_cart.png"></a>
				</div>
			</div>
        </div>
{% block content %}{% endblock content %}
	</div>
{% endblock body %}
