{% extends 'base_top.html' %}
{% block content %}
{% block content2 %}{% endblock content2 %}
        <div class="footer">
            <div class="foot_link">
                <a href="#">公司简介</a>
                <span>|</span>
                <a href="#">诚聘英才</a>
                <span>|</span>
                <a href="#">联系我们</a>
            </div>
            <p>CopyRight © 2021 云中书城 All Rights Reserved</p>
            <p>京ICP备*******9号-1</p>
        </div>
{% endblock content %}
